@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "reset";
@import "variables";

body {
  font-family: $ff;

}


.container {
  width: 1140px;
  margin: auto;
}


//HEADER
#header {
  background: $bgColor;
  padding-top: 40px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      font-weight: 800;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */


      color: #FFFFFF;
    }

    &__menu {
      &--item {
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height, or 150% */


        color: #FFFFFF;
        margin: 0 10px;
      }
    }

    &__btn {
      @extend %btn;

    }
  }
}

//HEADER

//HERO
#hero {
  padding-top: 40px;
  background: $bgColor;
  min-height: 100vh;

  .hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__theme {
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      text-align: center;

      color: #FFFFFF;
    }

    &__title {
      font-weight: 700;
      font-size: 62px;
      line-height: 150%;
      /* or 93px */

      text-align: center;
      margin-bottom: 20px;
      color: #FFFFFF;
    }

    &__subtitle {
      font-weight: 300;
      font-size: 15px;
      line-height: 30px;
      /* or 200% */
      margin-bottom: 25px;

      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;

    }

    &__buttons {
      &--left {
        @extend %btn;

      }

      &--right {
        @extend %btn2;

      }
    }

    &__buttons button {
      margin: 0 15px;
    }

    &__video {
      position: relative;
      margin-top: 40px;
      background: url("../img/videoimg.png") no-repeat center/cover;
      width: 1110px;
      height: 600px;

      &--btn {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        background: rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        width: 83px;
        height: 83px;
        &__play {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 22px  auto;
        }
      }

    }
  }
}

//HERO

#program {
  .slider {
    .slick-prev {
      font-size: 0;
      background: url("../img/left.svg") no-repeat center/15px transparent;
      width: 31px;
      height:18px;
      border: none;
      position: absolute;
      bottom: 120px;
      left: -40px;
      z-index: 2;
    }
    .slick-next{
      font-size: 0;
      background: url("../img/next.svg") no-repeat center/15px transparent;
      width: 31px;
      height:18px;
      border: none;
      position: absolute;
      bottom: 120px;
      right: -40px;
      z-index: 2;
    }
  }
}
