$ff: "Poppins", sans-serif;
$bgColor: #161D2F;

$ultraBook:1024px;
$Ipad:992px;
$IpadMini:840px;
$Tablet:768px;
$BigPhone: 540px;
$Iphone7: 415px;
$Iphone11: 376px;
$Iphone5: 320px;


%btn {
  background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
  border-radius: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  border: none;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 28px;
  color: #FFFFFF;

}

%btn:hover {
  background: linear-gradient(97.1deg, #5e5e6e 11.99%, #053959 96.6%);
  transition: 0.7s;
}


%btn2 {
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
  padding: 10px 28px;
  color: #FFFFFF;
  background: transparent;

}
